
.populaires{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}
.populaires .titre{
text-align: center;
}
.populaires .titre h1{
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 550;
}
.pbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.populaires .container{
margin-top: 5%;
width: 95%;
}
.produits{
    width: 240px;
    height: 420px;
    margin: 15px;
}
.pimage img{
   width: 100%;
  
}

/* .produits .pimage :hover img{
    transform: scale(1);
 } */


.pimage a {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    background: white;
    border-radius: 50px; 
    z-index: 100;
}
.pimage i{
    font-size: 1rem;
    padding: 5px;
    color: black;  
    
}
.produits .info h2{
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px;
  line-height: 25px;
  font-weight: 700;
}
.produits .prices{
    padding: 5px 0 0 5px;
}
.produits .border{
    display: flex;
    
}
.produits .border a{
    font-size: 1.rem;  
    padding: 5px;
}
